[user]
  name = ushi.
  email = ushi@honkgong.info
  signingkey = 0F957DE0
[color]
  ui = auto
[push]
  default = tracking
[core]
  editor = vim
[help]
  autocorrect = 1
[grep]
  extendRegexp = true
[alias]
  ad = add
  ci = commit
  cb = checkout -b
  cm = checkout master
  co = checkout
  lg = log --graph --full-history --all --color \
    --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
  mg = merge
  pl = pull
  ps = push
  st = status
